#
# Zinitix Touchscreen driver configuration
#

config TOUCHSCREEN_ZINITIX_ZTW522
	tristate "ZINITIX ztw522 I2C Touchscreen"
	depends on I2C
	help
	  Say Y here if you have the ZINITIX 7538 I2C touchscreen
	  connected to your system.
	  If unsure, say N.
	  To compile this driver as a module, choose M here:
	  the module will be called Zinitix.

